/* Readit */
/* Larry Tseng */

html, body {
    height: 100%;
}

#navbar {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1 0 auto;
}

.post {
    background-color: #fbfbfd;
}

#posts a {
    color: black;
}

#load-more-div {
    margin: 5pt auto 10pt auto;
}

#footer {
    flex-shrink: 0;
    background-color: lightgray;
    width: 100%;
    padding: 10pt;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1f23 !important;
    }
    #posts a {
        color: #c4c5c9;
    }
    .card {
        background-color: #252532;
    }
}
